.sit-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.sit-topbar a {
  color: #b0b0b0;
}
.sit-topbar .sep {
  margin: 0 0.5em;
}
.container {
  width: 1226px;
  margin: 0 auto;
}
.topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
.topbar-info,
.topbar-cart {
  float: right;
  height: 40px;
  line-height: 40px;
}

.topbar-cart {
  margin-left: 15px;
}


//头部
#site-header {
  position: relative;
  height: 100px;
  z-index: 20;
  background: blue;
}
.head-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
  height: 55px;
  background-color: #000;
  clear: both;
}

.head-nav {
  float: left;
  width: 850px;
}
.head-nav .nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 820px;
  height: 88px;
  padding: 12px 0 0 30px;
  font-size: 16px;
  color: #333;
}
.nav-list .nav-first {
  float: left;
  position: relative;
  padding-right: 15px;
  width: 127px;
}
.nav-list .nav-first a {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
}
.nav-list .nav-item {
  float: left;
  position: relative;
  color: #333;
}
.nav-list .nav-item a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}

.head-search {
  position: relative;
  float: right;
  width: 296px;
  margin-top: 25px;
}
.head-search .hide {
  display: none;
}
.head-search .search-text {
  position: absolute;
  top: 0;
  right: 51px;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 48px;
  outline: 0;
}

.head-search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
}

//秒杀部分
// .seckill{
//     background: #f5f5f5;
//     position: relative;
//     top: 140px;
// }
.seckill-head{
    // background: #f5f5f5 url(//i1.mifile.cn/f/i/2018/seckill/seckill-head.jpg?2) 50% 0 no-repeat;
    // height: 175px;
}
